@use "../utilities" as *;

/*----------------------------------------*/
/*  Industries
/*----------------------------------------*/
.tj-industries-section {
	.industry-card {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 40px 35px;
		background-color: var(--tj-color-common-white);
		border: 1px solid var(--tj-color-border-1);
		border-radius: 20px;
		transition: all 0.4s ease;

		&:hover {
			border-color: transparent;
			box-shadow: 0 30px 60px tj-rgba(common, black, 0.07);
			transform: translateY(-6px);

			.industry-icon {
				background-color: var(--tj-color-theme-primary);
				i {
					color: var(--tj-color-common-white);
				}
			}
		}

		.industry-icon {
			width: 72px;
			height: 72px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background-color: tj-rgba(theme, primary, 0.08);
			margin-bottom: 28px;
			transition: all 0.4s ease;

			i {
				font-size: 30px;
				line-height: 1;
				color: var(--tj-color-theme-primary);
				transition: all 0.4s ease;
			}
		}

		.industry-count {
			display: flex;
			align-items: baseline;
			margin-bottom: 12px;
			font-size: 46px;
			font-weight: 700;
			line-height: 1;
			color: var(--tj-color-theme-primary);

			.odometer,
			.odometer-auto-theme,
			.count-plus {
				font-size: 46px;
				font-weight: 700;
				line-height: 1;
				color: var(--tj-color-theme-primary);
				font-family: var(--tj-ff-heading);
			}
		}

		.industry-name {
			margin-bottom: 12px;
			font-size: 24px;
			font-weight: 600;
			color: var(--tj-color-heading-primary);
		}

		.industry-desc {
			margin-bottom: 0;
			color: var(--tj-color-text-body);
		}
	}
}
